<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <form action="/login" method="POST">
      <p>Account: <input type="text" name="account" /></p>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
